<h1>weather</h1>

<% for(var i = 0; i < 4; i++) { %>
  <p>Date: <%= snowInfo[i].date.pretty %> in</p>
  <p>Snowfall Day: <%= snowInfo[i].snow_day.in %> in</p>
  <p>Snowfall Night <%= snowInfo[i].snow_night.in %> in</p>
  <p>24 Hour Snowfall <%= snowInfo[i].snow_allday.in %> in</p>
<% }; %>




<form enctype="multipart/form-data" action="/forecast/<%= resort %>/comment" method="POST">
  <div class="form-group">
    <label for="title">Resort</label>
    <select class="custom-select mr-sm-2" name="title" id="inlineFormCustomSelect">
      <option selected>Choose...</option>
      <option value="48.8143793,-121.7717526">Mt Baker</option>
      <option value="47.4105905,-121.4135603">Summit</option>
      <option value="46.9353331,-121.4770354">Crystal</option>
      <option value="47.7357698,-121.1060072">Stevens Pass</option>
    </select>
  </div>

  <div class="form-group">
    <label for="comment">comment</label>
    <textarea type="text" class="form-control" id="comment" name="comment" required></textarea>
  </div>

  <div class="form-group">
    <input type="file" name="image">
  </div>

  <input type="submit" class="btn btn-primary">
</form>
