<div class="container background">


<nav class="navbar rounded navbar-light bg-faded">
  <div class="navbar-nav">
    <a class="nav-item nav-link active" href="/">Home </a>
  </div>
</nav>

  <div class="row">
    <div class="col col-sm-6 ">
      <h1>Weather: <%= resort %></h1>
    </div>
  </div>

<div class="row pre-scrollable">
  <% for(var i = 0; i < 4; i++) { %>
    <div class="well col-sm-3">
      <p><span class="info date"><%= snowInfo[i].date.pretty %></span></p>
      <p><span class="info">Snowfall Day: </span><%= snowInfo[i].snow_day.in %> in</p>
      <p><span class="info">Snowfall Night: </span><%= snowInfo[i].snow_night.in %> in</p>
      <p><span class="info">24 Hour Snowfall: </span><%= snowInfo[i].snow_allday.in %> in</p>
    </div>
  <% }; %>
</div>

<hr />



<div class="row pre-scrollable container">
  <% post.forEach(function(d) { %>
<div class="col-lg-3">
</div>
    <div class="col-lg-6">
      <div>
      <img class="image img-fluid rounded" src="<%= d.image %>">
      </div>
      <div>
      <p><%= d.comment %></p>
      </div>
      <div class="button">
      <a href="/forecast/<%= d.id %>/edit" class="btn btn-info">Edit</a>
      <a href="/forecast/<%= d.id %>" class="btn btn-primary postDelete">Delete</a>
      </div>
    </div>
<div class="col-lg-3">
</div>
  <% }) %>
</div>

<hr />


    <form enctype="multipart/form-data" action="/forecast/<%= resort %>/comment" method="POST">
      <div class="form-group">
        <label for="title">Resort</label>
        <select class="custom-select mr-sm-2" name="title" id="inlineFormCustomSelect">
          <option selected>Choose...</option>
          <option value="48.8143793,-121.7717526">Mt Baker</option>
          <option value="47.4105905,-121.4135603">Summit</option>
          <option value="46.9353331,-121.4770354">Crystal</option>
          <option value="47.7357698,-121.1060072">Stevens Pass</option>
        </select>
      </div>

      <div class="form-group">
        <label for="comment">Comment</label>
        <textarea type="text" class="form-control" id="comment" name="comment" required></textarea>
      </div>

      <div class="form-group">
        <input type="file" name="image">
      </div>

      <input type="submit" class="btn btn-primary">
    </form>

    <div class="card-footer text-muted rounded footer">
       <h6>Snow Days :)</h6>
    </div>
</div>
